<div class="text-white" style="background-color: #393939;">
    <div class="container lh-1 p-4">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <p class="fw-bold">NHỮNG THƯƠNG HIỆU</p>
                <p>CASIO</p>
                <p>LACOSTE</p>
                <p>BULOVA</p>
                <p>CALVIN KLEIN</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="fw-bold">CÁC PHONG CÁCH ĐỒNG HỒ</p>
                <p>THỂ THAO</p>
                <p>SANG TRỌNG</p>
                <p>CỔ ĐIỂN</p>
                <p>THANH LỊCH</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="fw-bold">THÔNG TIN CHUNG</p>
                <p>CHÍNH SÁCH BẢO MẬT</p>
                <p>ĐIỀU KHOẢN SỬ DỤNG</p>
                <p>TƯ VẤN</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="fw-bold">THEO DÕI</p>
                <div class="d-flex" style="word-spacing: 10px;">
                    <a><img src="https://i.ibb.co/fXnhkLZ/icons8-zalo-32.png"></a>
                    <a class="mx-3"><img src="https://i.ibb.co/KGQpqKr/icons8-facebook-32.png"></a>
                    <a><img src="https://i.ibb.co/h8M2n9W/icons8-youtube-32.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-white" style="font-size: 12px; background-color: #242323;">
    <div class="container lh-1 p-4">
        <span class="fs-6">
            Copyright © 2024 WatchFives Group. All right reserved. Designed by Sudo |
            nicedesign.works
        </span>
    </div>
</div>


@code {

}
