@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <header>
            <NavMenu />

        </header>
        <div class="px-4">
            @Body
        </div>
    </div>
</div>
