
<div class="social-login">
    <a href="/user/googlelogin" class="link">
        <img src="https://i.pinimg.com/originals/84/c7/00/84c7007eb6ac4374f77394d1e4954a96.png" alt="">
        <h6>Google</h6>
    </a>
    <a href="#" class="link">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" alt="">
        <h6>Facebook</h6>
    </a>
    <a href="#" class="link">
        <img src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.1369675164.1715558400&semt=ais_user" alt="">
        <h6>Twitter</h6>
    </a>
</div>

@code {

}
