@page "/admin/brandList"
@inject HttpClient Http
@inject IJSRuntime JS
@using Web_DongHo_WebAssembly.Data
@using Web_DongHo_WebAssembly.Models
@using Newtonsoft.Json
@layout AdminLayout
<style>
    table thead th {
        vertical-align: middle !important;
    }
</style>
@if (listBrand == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh Sách Thương Hiệu</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead class="text-center">
                                    <tr>
                                        <th>Id</th>
                                        <th>Tên Thương Hiệu</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listBrand)
                                    {
                                        <tr class="text-center  align-middle">
                                            <td>@item.BrandId</td>
                                            <td>@item.BrandName</td>
                                            <td>
                                                <a class="btn btn-secondary" href="admin/editBrand/@item.BrandId">Chỉnh sửa</a>
                                                @*<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.BrandId">Delete</a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

}

@code {
    private List<Brand> listBrand = new List<Brand>();
    protected override async Task OnInitializedAsync()
    {
        await GetListRole();
    }
    async Task GetListRole()
    {
        try
        {
            var response = await Http.GetStringAsync("api/brand");
            listBrand = JsonConvert.DeserializeObject<List<Brand>>(response);
            if (listBrand == null)
            {
                await JS.InvokeVoidAsync("console.log", "Trống");
            }

        }
        catch (Exception e)
        {
            await JS.InvokeVoidAsync("console.log", e.Message);

        }

    }
}
