@page "/giohang"
@using Web_DongHo_WebAssembly.Data
@inject HttpClient http
<div class="my-5">
    <main class="my-5">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <h4><b>Giỏ Hàng</b></h4>
                        </div>
                    </div>
                    <div class="row border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2 text-dark">Ảnh</div>
                            <div class="col">
                                <div class="text-dark">Sản phẩm</div>
                            </div>
                            <div class="col">
                                <div class="text-dark">Số lượng</div>
                            </div>
                            <div class="col">
                                <div class="text-dark">Giá</div>
                            </div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="imgCart img-fluid" src="~/images/Product/1001.png"></div>
                            <div class="col">
                                <div class="row text-muted">Đồng hồ</div>
                                <div class="row">Đồng hồ 1</div>
                            </div>
                            <div class="col productCount"><a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a></div>
                            <div class="col"> 5.585.000 ₫</div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="imgCart img-fluid" src="~/images/Product/1004.png"></div>
                            <div class="col">
                                <div class="row text-muted">Đồng hồ</div>
                                <div class="row">Đồng hồ 1</div>
                            </div>
                            <div class="col productCount"><a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a></div>
                            <div class="col"> 5.585.000 ₫</div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="imgCart img-fluid" src="~/images/Product/1004.png"></div>
                            <div class="col">
                                <div class="row text-muted">Đồng hồ</div>
                                <div class="row">Đồng hồ 1</div>
                            </div>
                            <div class="col productCount"><a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a></div>
                            <div class="col"> 5.585.000 ₫</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Tổng kết</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col text-center" style="padding-left:0;">Tổng 3 sản phẩm</div>
                    </div>
                    <form class="formCart">
                        <p>Vận chuyển</p>
                        <select>
                            <option class="text-muted">Vận chuyển chậm- 15.000 ₫</option>
                            <option class="text-muted">Vận chuyển nhanh- 25.000 ₫</option>
                        </select>
                        <p>Mã khuyến mãi</p>
                        <input class="input" id="code" placeholder="Nhập mã khuyến mãi">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">Tổng giá:</div>
                        <div class="col text-right"> 137.00</div>
                    </div>
                    <button class="btnCart">Đặt hàng</button>
                </div>
            </div>
        </div>
    </main>

</div>
@code{

}
<style>

    .disable-link {
        pointer-events: none;
        color: white;
        cursor: not-allowed;
        background-color: gray;
        opacity: 0.7;
    }

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background: border-box;
}
.nav-home {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

    .nav-home:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #333;
        transition: width 0.4s ease 0s, left 0.4s ease 0s;
        width: 0;
    }

    .nav-home:hover:after {
        width: 100%;
        left: 0;
    }

.card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.summary {
    background-color: #393939;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: white;
    font-weight: 700;
}

    .summary .col-2 {
        padding: 0;
    }

    .summary .col-10 {
        padding: 0;
    }

.row {
    margin: 0;
}

.title b {
    font-size: 1.5rem;
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.col-2,
.col {
    padding: 0 1vh;
}

a {
    padding: 0 1vh;
}

.close {
    margin-left: auto;
    font-size: 0.7rem;
}

.imgCart {
    width: 3.5rem;
}

.back-to-shop {
    margin-top: 4.5rem;
}

h5 {
    margin-top: 4vh;
}

hr {
    margin-top: 1.25rem;
}

.formCart {
    padding: 2vh 0;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
    color: #757575;
    font-weight: 700;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
    font-weight: 700;
}

    .input:focus::-webkit-input-placeholder {
        color: transparent;
    }

.btnCart {
    background-color: #8b8b8b;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 18px;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
    font-weight: 700;
}

    .btnCart:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        transition: none;
    }

    .btnCart:hover {
        color: white;
        background-color: #393939;
    }

.aCart {
    color: black;
}

    .aCart:hover {
        color: black;
        text-decoration: none;
    }

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

.productCount a{
    text-align: center;
    text-decoration:none;
    color: black;
}


</style>