<style >
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background: border-box;
}

.nav-home {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

    .nav-home:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #333;
        transition: width 0.4s ease 0s, left 0.4s ease 0s;
        width: 0;
    }

    .nav-home:hover:after {
        width: 100%;
        left: 0;
    }

.card {
    border: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: black;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

</style >
