@page "/contact"
<main>
    <div class="container my-5">
        <h3 style="text-align:center">Liên Hệ</h3>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card" style="">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-2">
                            <div class="rounded-circle border border-dark border-2 text-center" style="width: 35px; height: 35px;">
                                <i class="bi bi-geo-alt-fill" style="font-size: 1.25rem;color:black"></i>
                            </div>
                            <span class="ms-2 fw-semibold">Ninh kiều, Cần Thơ</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <div class="rounded-circle border border-dark border-2 text-center" style="width: 35px; height: 35px; ">
                                <i class="bi bi-phone" style="font-size: 1.25rem; color: black"></i>
                            </div>
                            <span class="ms-2 fw-semibold">0359685322</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <div class="rounded-circle border border-dark border-2 text-center" style="width: 35px; height: 35px; ">
                                <i class="bi bi-envelope" style="font-size: 1.25rem; color: black"></i>
                            </div>
                            <span class="ms-2 fw-semibold">Minh369@gmail.com</span>
                        </div>

                        <hr>

                        <form>
                            <h4 style="text-align: center; color: black; margin-bottom: 30px;">Liên hệ với chúng tôi</h4>
                            <div class="mb-3">
                                <input style="border-radius:20px;height:45px" type="text" class="form-control form-control-sm" id="name" required placeholder="Tên của bạn">
                            </div>
                            <div class="mb-3">

                                <input style="border-radius:20px;height:45px" type="email" class="form-control form-control-sm" id="email" required placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <textarea style="border-radius:20px;height:140px" class="form-control form-control-sm" id="message" rows="3" required placeholder="Lời nhắn"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" style="border-radius: 10px; padding: 10px 20px;" class="btn btn-outline-dark fw-semibold border-2">Gửi tin nhắn</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top:20px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.545833093074!2d105.78005261411533!3d10.045221975442993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31722d10006236a3%3A0x956219b9edcfdb31!2sNinh%20Ki%E1%BB%81u%2C%20C%E1%BA%A7n%20Th%C6%A1%2C%20Vietnam!5e0!3m2!1sen!2sus!4v1649444508552!5m2!1sen!2sus" width="730" height="515" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

</main>
@code {

}
